#all-content {
  
}

#content {
  display: block;
  width: 100%;
  margin: auto
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
  max-height: 130px;
  object-fit: contain;
  /* border: 1px solid red; */

}

#image-container {
  display: block;
  background-color: black;
  margin-left: 209px;
  margin-right: auto;
  width: 243px;
  height: 132px;
  border: 1px solid black;
  /* object-fit: contain; */
}

#header-container {
  display: block;
  margin-left: 209px;
  margin-right: auto;
  padding-left: 0px;
  /* border: 1px solid red; */
}

#button {
  position: relative;
  top: 8px;
  left: 308px;
}